.button {
	padding: 6px;
	border-radius: 4px;
	color: var(--c-black);
	font-size: 16px;
	margin-bottom: 10px;
	border: 0px;
	background-color: var(--c-gray);
	cursor: pointer;
}

.button.-transparent {
	background: transparent;
}

.button.-white {
	color: var(--c-white);
}

.button.-blue {
	border-color: blue;
}

.button.-s {
	font-size: 16px;
	margin-bottom: 0px;
}

.button.-transparent {
	background-color: transparent;
	border: none;
	text-align: left;
}

.button.-transparent:hover {
	background-color: var(--c-gray);
}

@media screen and (max-width: 767px) {
	.button {
		width: 100%;
	}
}