.header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	background-color: transparent;
	width: 75.5%;
}

.logo {
	max-width: 7%;
}

.header__link {
	color: var(--c-black);
	font-weight: 600;
}