.question.-hidden {
	display: none;
}

.question__count {
	margin-bottom: 12.5px;
}

.question {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question__desc {
	width: 50%
}

.question__photo {
	max-width: 50%;
}