.question.-hidden {
	display: none;
}

.question__count {
	margin-bottom: 12.5px;
}

.question {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question__desc {
	width: 45%
}

.question__photo {
	max-width: 45%;
	max-height: 45%;
}

@media screen and (max-width: 767px) {
	.question {
		padding: 0px 10px;
	}

	.question__desc {
		width: 65%;
	}

	.question__photo {
		max-width: 65%;
	}
}