.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.result.-hidden {
	display: none;
}

.result__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.result__photo {
	width: 60%;
	margin-bottom: 15px;
}

.result__img {
    max-width: 100%;
}

.result__buttons {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}